<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Private Pixels</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"><!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-horizon/bootstrap-horizon.css">
    <link rel="stylesheet" href="http://jtblin.github.io/angular-chart.js/dist/angular-chart.css">
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="http://crisbeto.github.io/angular-svg-round-progressbar/roundProgress.min.js"></script>
    <script src="http://jtblin.github.io/angular-chart.js/bower_components/Chart.js/Chart.min.js"></script>
    <script src="http://jtblin.github.io/angular-chart.js/dist/angular-chart.js"></script>
    <script src="/main.js"></script>

</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div ui-view id="main-uiview"></div>
</body>

</html>
















