<section id="config" class="col-xs-6">
    <form name="form" novalidate>
        <div class="form-group">
            <label for="name">Name of UI Test</label>
            <input type="text" name="formTestName" ng-model="testName" class="form-control" placeholder="Enter the name" required>
            <span style="color:red" ng-show="submitAttempted && testName.length === 0">Please name your UI test!</span>
        </div>

        <div class="form-group" ng-repeat="url in config">
            <label for="url">URL</label>        
            <input type="text" ng-model="url.URL" class="form-control" placeholder="Enter URL">
            <span style="color:red" ng-show="submitAttempted && url.URL.length === 0">Please enter a URL!</span>

            <br>

            <div class="form-group">
                <label>Viewports to test</label>
                <div style="margin-left: 20px;">
                    <label class="checkbox" style="font-weight: normal;" ng-repeat="viewport in viewportOptions">
                        <input ng-click="toggleCheckbox(viewport.value, url.viewports)" type="checkbox"> {{viewport.label}} ({{viewport.value}})
                    </label>
                </div>
                <span style="color:red" ng-show="submitAttempted && url.viewports.length === 0">Please choose a viewport!</span>
            </div>

            <div class="form-group">
                <label>Days to run tests</label>
                <div>
                    <label class="checkbox-inline" ng-repeat="day in dayFrequencyOptions">
                        <input ng-click="toggleCheckbox(day.value, url.dayFrequency)" type="checkbox"> {{day.label}}
                    </label>
                </div>
                <span style="color:red" ng-show="submitAttempted && url.dayFrequency.length === 0">Please choose a day to run test!</span>
            </div>

            <div class="form-group">
                <label>Times to run tests</label>
                <div>
                    <label class="checkbox-inline" ng-repeat="hour in hourFrequencyOptions">
                        <input ng-click="toggleCheckbox(hour.value, url.hourFrequency)" type="checkbox"> {{hour.label}}
                    </label>
                </div>
                <span style="color:red" ng-show="submitAttempted && url.hourFrequency.length === 0">Please choose the time of day to run test!</span>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-add" ng-click="addNewUrl()">Add another url</button>

        <button type="button" class="btn btn-primary btn-large" ng-click="isValid() && submit()">Save</button>

        <div class="alert alert-success" role="alert" ng-show="showSuccessAlert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="showSuccessAlert = false"><span aria-hidden="true">&times;</span></button>
            <strong>Sucecss!</strong> Your test has been submitted
        </div>
    </form>
</section>