@media screen and (min-width: 768px) {
  .same-height,
  .same-height > div[class*='col-'] {  
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex: 1 0 auto;
  }
}
$white: #fff;
$light-gray: #ccc;
$gray: #333;

#admin-menu {
	&.list-group {
		background: $gray;
		width:100%;

		.list-group-item {
			padding: 0;
			margin-bottom: 0;
			border: 0;
			xborder-bottom: 1px solid $light-gray;
			.fa {
				margin-right: 8px;
			}
			a {
				display: block;
				padding: 20px 30px;
				width:100%;
				text-decoration: none;
				font-size: 18px;
				font-weight:300;
				color: $light-gray;
				background-color: $gray;
				transition: all 0.3s;
				&:hover,
				&:focus,
				&:active {
					color:$white;
					background-color: darken($gray, 30%);
					transition: all 0.3s;
					cursor: pointer;
				}
			}
		}

	}

}

.row.no-gutters {
  margin-right: -15px;
  margin-left: -15px;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.left-navigation {
	background: $gray;
}

.dashboard-overview {
	background: #66cc00;
	color: $white;
	.overview-item {

		font-weight: 300;
		padding:50px 0;
		.overview-item-heading {
			font-size: 20px;
			font-weight: 300;
			padding: 5px;
		}
		.overview-item-stats {
			font-size: 120px;
		}
	}
}
