<div class="admin-sub-header">
    <h1>Configuration</h1>
</div>

<!-- {{ configTest | json  }}
{{ config | json }} -->

<tabset>
    <tab heading="Create Test">
        <div class="col-md-11 col-center">
        <section id="config">
            <form name="adminConfigForm" novalidate>
                <!-- row -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">            
                            <input type="text" name="formTestName" ng-model="configTest.name" required>
                            <span style="color:red" ng-show="submitAttempted && configTest.name.length === 0">Please name your UI test!</span>
                            <label for="formTestName">Name of UI Test</label><i class="bar"></i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">            
                            <input type="text" name="formTestRootProURL" ng-model="configTest.rootURL" required>
                            <span style="color:red" ng-show="submitAttempted && configTest.rootURL.length === 0">Please name your UI test root URL!</span>
                            <label for="formTestRootProURL">http://www.</label><i class="bar"></i>
                            <p class="input-helper">Production site. (e.g. yahoo.com)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">            
                            <input type="text" name="formTestRootDevURL" ng-model="configTest.devURL" disabled>
                            <span style="color:red" ng-show="submitAttempted && configTest.devURL.length === 0">Please name your UI test dev URL!</span>
                            <label for="formTestRootDevURL">http://</label><i class="bar"></i>
                            <p class="input-helper">Development site. (e.g. localhost:3000)</p>
                        </div>
                    </div>
                </div>
                <!-- row end -->
                <!-- row start -->
                <div class="row border-bottom" ng-repeat="url in config">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" name="url" ng-model="url.path" required>
                            <span style="color:red" ng-show="submitAttempted && url.URL.length === 0">Please enter a path!</span>
                            <label for="url">Path</label><i class="bar"></i>
                            <p class="input-helper">Path only. Begin with '/' (e.g. /about)</p>
                        </div>
                        <div class="form-group">
                            <input type="text" name="threshold" ng-model="url.threshold" required>
                            <span style="color:red" ng-show="submitAttempted && url.threshold.length === 0">Please enter threshold!</span>
                            <label for="threshold">Threshold %</label><i class="bar"></i>
                            <p class="input-helper">Any diff above this will get alerted.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="label-block">Viewports to test</label>
                        <div class="checkbox checkbox-inline" ng-repeat="viewport in viewportOptions">
                            <label>
                                <input ng-click="toggleCheckbox(viewport.value, url.viewports)" type="checkbox"><span>{{viewport.value}}</span><i class="helper"></i> <!--{{viewport.label}}--> 
                            </label>
                            <span style="color:red" ng-show="submitAttempted && url.viewports.length === 0">Please choose a viewport!</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="label-block">Days to run tests</label>
                        <div class="checkbox checkbox-inline" ng-repeat="day in dayFrequencyOptions">
                            <label class="checkbox-inline" >
                                <input ng-click="toggleCheckbox(day.value, url.dayFrequency)" type="checkbox"><span>{{day.label}}</span><i class="helper"></i> 
                            </label>
                        </div>
                        <span style="color:red" ng-show="submitAttempted && url.dayFrequency.length === 0">Please choose a day to run test!</span>
                    </div>
                    <div class="col-md-2">
                        <label class="label-block">Times to run tests</label>
                        <div class="checkbox checkbox-inline" ng-repeat="hour in hourFrequencyOptions">
                            <label class="checkbox-inline" >
                                <input ng-click="toggleCheckbox(hour.value, url.hourFrequency)" type="checkbox"><span>{{hour.label}}</span><i class="helper"></i>
                            </label>
                        </div>
                        <span style="color:red" ng-show="submitAttempted && url.hourFrequency.length === 0">Please choose the time of day to run test!</span>
                    </div>
                </div>
                <!-- row end -->
                <button type="button" class="btn btn-primary btn-large" ng-click="addNewUrl()">Add another path</button>

                <button type="button" class="btn btn-success btn-large" ng-click="submit()">Save</button>

                <div class="alert alert-success" role="alert" ng-show="showSuccessAlert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="showSuccessAlert = false"><span aria-hidden="true">&times;</span></button>
                    <strong>Sucecss!</strong> Your test has been submitted
                </div>
            </form>
        </section>

        </div>
    </tab>

    <tab heading="Config Tests">
        <ul class="admin-config-listing">
            <li class="admin-config-listing-item group" ng-repeat="test in testsByUserID">
                <div class="admin-config-info">
                    <div class="admin-config-heading">
                        {{ test.name }}
                    </div>
                    <p>
                        {{ test.URL }}
                    </p>
                    <p>
                        <!-- {{ test }} -->
                        Viewport: {{ test.viewport }}, Hour Frequency: {{ test.hourFrequency }}, Day Frequency: {{ test.dayFrequency }}
                    </p>
                </div>
                <div class="admin-config-action">
                    Update, Delete 
                </div>
                
            </li>
        </ul>
    </tab>
</tabset>


