	<!-- {{ searchParams | json }} -->
	<!-- {{ diffsForUser | json }} -->
	<!-- {{ diffsTest | json }} -->
	<!-- {{diffImages.byDate | json}} -->

	<div>
    	<div class="dashboard-overview container-fluid">
			<div class="row">
    			<div class="col-md-12 stats-all">
    				<div class="stats-label">TODAY</div>  				
	    			<div class="row group stats-row">	
	    				<div circle-chart circle-title="Alerts for Today" stats-num="dashboard.alertNum" circle-max="alertNumTotal" circle-current="dashboard.alertNum"></div>
	    				<div circle-chart circle-title="Tests run today" stats-num="dashboard.testsNum" circle-max="testsNumTotal" circle-current="dashboard.testsNum"></div>
	    				<div circle-chart circle-title="Highest(%)" stats-num="dashboard.diffPercent.highestPerc | percentage:2" circle-max="1" circle-current="dashboard.diffPercent.highestPerc"></div>
	    				<div circle-chart circle-title="Average(%)" stats-num="dashboard.diffPercent.averagePerc | percentage:2" circle-max="1" circle-current="dashboard.diffPercent.averagePerc"></div>
	    				<div circle-chart circle-title="Lowest(%)" stats-num="dashboard.diffPercent.lowestPerc | percentage:2" circle-max="1" circle-current="dashboard.diffPercent.lowestPerc"></div>
	    			</div>
	    			<!-- <div class="diff-bars-wrap"> -->
	    			<div class="diff-bars">
		    			<div ls-bar height="diff.diffPercent" diff="diff.diffObj" ng-repeat="diff in diffsToday"></div>
	    			</div>
		    		<!-- </div> -->
    			</div>

    			<div class="col-md-12 stats-test">

    				<div class="stats-label">
    					<select ng-model="searchParams.testName" ng-change="updateDashboard()">
    						<optgroup>
								<option value="{{ test }}" ng-repeat="test in uniqueTestsByUser">{{ test }}</option> 
								<!-- <option value="DramaFever1">DramaFever1</option>
								<option value="DramaFever2">DramaFever2</option> -->
							</optgroup>
						</select>
    				</div>
    				<div class="row stats-row">
    					<div stats-test title="Alerts" stats="dashboard.alertNumOneTest"></div>
    					<div stats-test title="Tests" stats="dashboard.testsNumOneTest"></div>
    					<div stats-test title="Highest(%)" stats="dashboard.diffPercentOneTest.highestPerc | percentage:2"></div>
    					<div stats-test title="Average(%)" stats="dashboard.diffPercentOneTest.averagePerc | percentage:2"></div>
    					<div stats-test title="Lowest(%)" stats="dashboard.diffPercentOneTest.lowestPerc | percentage:2"></div>
	    			</div>
	    			<!-- <div class="diff-bars-wrap"> -->
	    			<div class="diff-bars">
		    			<div ls-bar height="diff.diffPercent" diff="diff.diffObj" ng-repeat="diff in diffsTest"></div>
	    			</div>
		    		<!-- </div> -->

    			</div>
       		</div>
    	</div>
	</div>

	<tabset>
		<tab heading="By Date">
			<ul class="cbp_tmtimeline">
			<li ng-repeat="test in diffImages.byDate">
				<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{test.date}}</span> <span>{{ test.day }}</span></time>
				<div class="cbp_tmicon"><i class="fa fa-calendar"></i></div>
				<div class="cbp_tmlabel">
					<h2 ng-show="test.alerts.length">There were changes</h2>
					<h2 ng-hide="test.alerts.length">There were no changes</h2>
					<p>
						<span class="cbp_tmstats">
						Alert: <span class="badge badge-warning">{{test.alerts.length}}</span>
						</span>
						<span class="cbp_tmstats">
						Average Diff: <span class="badge badge-info">{{test.averagePerc | percentage:2}}</span>
						</span>
					</p>
					<span class="fa">See All Alerts</span>
				</div>
			</li>
		</ul>
		</tab>
		<tab heading="By Url">
			<div class="row" ng-repeat="diff in diffImages.byUrl">
				<h3>{{ diff.urlName }}</h3>
				<div class="col-md-12">
					<div class="row row-horizon">
						<div class="col-sm-4 col-md-3" ng-repeat="diffImg in diff.images" ng-click="openDiffModal(diffImg._id, 'lg', true, 'js/admin/dashboard/diff-modal.html', 'DiffModalCtrl')">
							<div class="thumbnail-holder">
						    <div class="thumbnail">
						      	<img src="{{ diffImg.diffImgThumbnail | awsImg }}" alt="..." style="width: 100%;">
						  		<div class="thumbnail-caption">
									<p>{{ diffImg.diffPercent }}</p>
									<p>{{ diffImg.viewport }}</p>
									<p>{{ diffImg.captureTime | date:"MM/dd/yyyy @ h:mma" }}</p>
								</div>
						    </div>
						    </div>
					  	</div>
					</div>
				</div>
			</div>
		</tab>

		<tab heading="By Viewport">
		  	<div class="row" ng-repeat="diff in diffImages.byViewport">
				<h3>{{ diff.viewport }}</h3>
				<div class="col-md-12">
					<div class="row row-horizon">
					<div class="col-sm-4 col-md-3" ng-repeat="diffImg in diff.images" ng-click="openDiffModal(diffImg._id, 'lg', true, 'js/admin/dashboard/diff-modal.html', 'DiffModalCtrl')">
						<div class="thumbnail-holder">
						    <div class="thumbnail">
						      	<img src="{{ diffImg.diffImgThumbnail | awsImg }}" alt="..." style="width: 100%;">
						    </div>
						    <div class="thumbnail-caption">
							    <p>{{ diffImg.websiteUrl }}</p>
								<p>{{ diffImg.diffPercent }}</p>
								<p>{{ diffImg.captureTime | date:"MM/dd/yyyy @ h:mma" }}</p> 
					  		</div>
				  		</div>
				  	</div>
			  	</div>
			</div>
		</tab>
	</tabset>

	<!-- <div class="row">
		<div class="col-md-6">
			<canvas id="line" class="chart chart-line" data="data"
			  labels="labels" legend="true" series="series"
			  click="onClick">
			</canvas>
		</div>
		<div class="col-md-6">
			<canvas id="line" class="chart chart-line" data="data"
			  labels="labels" legend="true" series="series"
			  click="onClick">
			</canvas>
		</div>
	</div> -->






