	<!-- {{ searchParams | json }} -->
	<!-- {{ diffsForUser | json }} -->
	<!-- {{ diffImages.byUrl | json }} -->
	<!-- {{ testsByDate | json }} -->
	<!-- {{testsByDate[0] | json}} -->

	<div>
    	<div class="dashboard-overview container-fluid">
			<div class="row">
    			<div class="col-md-12 stats-all">
    				<div class="row group">	
    				<div class="col-md-4 overview-item text-center group">
    					<div class="vcenter">
    					<div class="overview-item-heading">
    						Alerts for Today
    					</div>
    					<div class="overview-item-stats">
    					{{ dashboard.alertNum }}
    					</div>
	    				</div>
    				</div>
    				<div class="col-md-4 overview-item text-center group">
    					<div class="vcenter">
    					<div class="overview-item-heading">
    						Tests run today
    					</div>
    					<div class="overview-item-stats">
    					{{ dashboard.testsNum }}
    					</div>
	    				</div>
    				</div>
    				<div class="col-md-4 overview-item text-center group">
    					<div class="vcenter">
    						<div class="select">
		    					<select class="overview-item-heading" ng-options="label for perc in diffPerc">
		    						<optgroup>
		    						<option ng-selected="diffPerc" value="{{ dashboard.diffPercent.averagePerc }}">Average Diff %</option>
		    						<option value="{{ dashboard.diffPercent.highestPerc }}" selected="selected">Highest Diff %</option>
		    						<option value="{{ dashboard.diffPercent.lowestPerc }}">Lowest Diff %</option>
		    						</optgroup>
		    					</select>
    						</div>
    					<div ng-show="diffPerc" class="overview-item-stats">
    					 {{ diffPerc | percentage:2 }}
    					</div>
	    				</div>
    				</div>
	    			</div>
    			</div>
    			<div class="col-md-12 stats-test">
    				<div class="row">
    				<div class="col-md-4 overview-item text-center">
    					<div class="vcenter">
    					<div class="overview-item-heading">
    						Alerts
    					</div>
    					<div class="overview-item-stats">
    					{{ dashboard.alertNum }}
    					</div>
	    				</div>
	    			</div>
    				<div class="col-md-4 overview-item text-center">
    					<div class="vcenter">
    					<div class="overview-item-heading">
    						Tests
    					</div>
    					<div class="overview-item-stats">
    					{{ dashboard.testsNum }}
    					</div>
	    				</div>
    				</div>
    				<div class="col-md-4 overview-item text-center">
    					<div class="vcenter">
    					<select class="overview-item-heading" ng-model="diffPerc">
    						<option selected value="{{ dashboard.diffPercent.averagePerc }}">Average Diff %</option>
    						<option value="{{ dashboard.diffPercent.highestPerc }}" selected="selected">Highest Diff %</option>
    						<option value="{{ dashboard.diffPercent.lowestPerc }}">Lowest Diff %</option>
    					</select>
    					<div ng-show="diffPerc" class="overview-item-stats">
    					 {{ diffPerc | percentage:2 }}
    					</div>
	    				</div>
    				</div>
	    			</div>
    			</div>
       		</div>
    	</div>

	</div>

	<tabset>
		<tab heading="By Date">
			<ul class="cbp_tmtimeline">
			<li ng-repeat="test in testsByDate">
				<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{test.date}}</span> <span>{{ test.day }}</span></time>
				<div class="cbp_tmicon"><i class="fa fa-calendar"></i></div>
				<div class="cbp_tmlabel">
					<h2 ng-show="test.alerts.length">There were changes</h2>
					<h2 ng-hide="test.alerts.length">There were no changes</h2>
					<p>
						<span class="cbp_tmstats">
						Alert: <span class="badge badge-warning">{{test.alerts.length}}</span>
						</span>
						<span class="cbp_tmstats">
						Average Diff: <span class="badge badge-info">{{test.averagePerc | percentage:2}}</span>
						</span>
					</p>
					<span class="fa">See All Alerts</span>
				</div>
			</li>
		</ul>
		</tab>
		<!--<tab heading="By Test Name">
			<form name="searchDiffsForm" ng-submit="searchDiffsByName()" class="text-center">
				<div class="form-group tab-content-checkbox">
					<label class="checkbox-inline" ng-repeat="test in testsByUser | unique: 'name'">
						<input type="checkbox" name="testconfig" ng-click="toggleCheckbox(test.name, searchParams.testNames)">
						{{ test.name }}
					</label>
				</div>
				<button type="submit" class="btn btn-primary btn-large">Search</button>
			</form>
			<div class="row">
				<h3>{{ diff.testName }}</h3>
				<div class="col-md-12">
				<div class="row row-horizon">
					<div class="col-sm-4 col-md-2" ng-repeat="diffImg in diffsForUser">
					    <div class="thumbnail" ng-click="openDiffModal(diffImg._id, 'lg', true, 'js/admin/dashboard/diff-modal.html', 'DiffModalCtrl')">
					    	<div style="height: 200px; overflow: hidden;">
					      		<img src="{{ diffImg.url }}" alt="..." style="width: 100%;">
					  		</div>
					    </div>
				  	</div>
				</div>
			  	</div>
			</div>
		</tab>-->
		<tab heading="By Url">
			<div class="row" ng-repeat="diff in diffImages.byUrl">
				<h3>{{ diff.urlName }}</h3>
				<div class="col-md-12">
					<div class="row row-horizon">
					<div class="col-sm-4 col-md-2" ng-repeat="diffImg in diff.images">
					    <div class="thumbnail" ng-click="openDiffModal(diffImg._id, 'lg', true, 'js/admin/dashboard/diff-modal.html', 'DiffModalCtrl')">
					    	<div style="height: 200px; overflow: hidden;">
					      		<img src="{{ diffImg.diffImgThumbnail | awsImg }}" alt="..." style="width: 100%;">
					  		</div>
					    </div>
				  	</div>
					</div>
				</div>
			</div>
		</tab>

		<tab heading="By Viewport">
		  	<div class="row" ng-repeat="diff in diffImages.byViewport">
				<h3>{{ diff.viewport }}</h3>
				<div class="col-md-12">
					<div class="row row-horizon">
					<div class="col-sm-4 col-md-2" ng-repeat="diffImg in diff.images">
					    <div class="thumbnail" ng-click="openDiffModal(diffImg._id, 'lg', true, 'js/admin/dashboard/diff-modal.html', 'DiffModalCtrl')">
					    	<div style="height: 200px; overflow: hidden;">
					      		<img src="{{ diffImg.diffImgThumbnail | awsImg }}" alt="..." style="width: 100%;">
					  		</div>
					    </div>
				  	</div>
				  	</div>
			  	</div>
			</div>
		</tab>
	</tabset>







