	<!-- {{ searchParams | json }} -->
	<!-- {{ diffsForUser | json }} -->
	<!-- {{ diffImages | json }} -->
	<!-- {{ testsByDate | json }} -->

	<div>
    	<div class="dashboard-overview container-fluid">
    			<div class="row">
    				<div class="col-md-4 overview-item text-center">
    					<div class="overview-item-heading">
    						Alerts for Today
    					</div>
    					<div class="overview-item-stats">
    					{{ testsByDate[0].alerts.length }}
    					</div>
    				</div>
    				<div class="col-md-4 overview-item text-center">
    					<div class="overview-item-heading">
    						Tests run today
    					</div>
    					<div class="overview-item-stats">
    					{{ dashboard.testsNum }}
    					</div>
    				</div>
    				<div class="col-md-4 overview-item text-center">
    					<div class="overview-item-heading">
    						Average Diff %
    					</div>
    					<div class="overview-item-stats">
    					 9%
    					</div>
    				</div>
       		</div>
    	</div>

	</div>

	<!-- <div class="row" ng-repeat=" test in searchParams.testNames "> -->
	<tabset>
		<tab heading="By Date">
			<ul class="cbp_tmtimeline">
			<li ng-repeat="test in testsByDate">
				<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{test.date}}</span> <span></span></time>
				<div class="cbp_tmicon cbp_tmicon-phone"></div>
				<div class="cbp_tmlabel">
					<h2 ng-show="test.alerts.length">There was changes</h2>
					<h2 ng-hide="test.alerts.length">There was no changes</h2>
					<p>Alert: {{test.alerts.length}} <span class="fa">See All Alerts</span></p>
				</div>
			</li>
		</ul>
		</tab>
		<tab heading="By Test Name">
			<form name="searchDiffsForm" ng-submit="searchDiffsByName()" class="text-center">
				<div class="form-group tab-content-checkbox">
				<!-- <div class="checkbox" > -->
					<label class="checkbox-inline" ng-repeat="test in testsByUser | unique: 'name'">
						<!-- <input type="checkbox" ng-true-value="'{{test.name}}'" name="testconfig" ng-false-value="''" ng-model="searchParams.testName['name' + $index]">
						{{ test.name }} -->
						<input type="checkbox" name="testconfig" ng-click="toggleCheckbox(test.name, searchParams.testNames)">
						{{ test.name }}

					</label>
				</div>
				<!-- </div> -->
				<button type="submit" class="btn btn-primary btn-large">Search</button>
			</form>
			<div class="row" >
				<div class="col-md-12">
				<div class="col-sm-4 col-md-2" ng-repeat="diffImg in diffsForUser">
				    <div class="thumbnail" ng-click="openDiffModal(diffImg._id, 'lg')">
				    	<div style="height: 200px; overflow: hidden;">
				      		<img src="{{ diffImg.url }}" alt="..." style="width: 100%;">
				  		</div>
				    </div>
			  	</div>
			  	</div>
			</div>
		</tab>

		<tab heading="By Url">
			<div class="row" ng-repeat="diff in diffImages.byUrl">
				<h3>{{ diff.urlName }}</h3>
				<div class="col-md-12">
					<div class="col-sm-4 col-md-2" ng-repeat="diffImg in diff.images">
					    <div class="thumbnail" ng-click="openDiffModal(diffImg._id, 'lg')">
					    	<div style="height: 200px; overflow: hidden;">
					      		<img src="{{ diffImg.url }}" alt="..." style="width: 100%;">
					  		</div>
					    </div>
				  	</div>
				</div>
			</div>
		</tab>

		<tab heading="By Viewport">
		  	<div class="row" ng-repeat="diff in diffImages.byViewport">
				<h3>{{ diff.viewport }}</h3>
				<div class="col-md-12">
					<div class="col-sm-4 col-md-2" ng-repeat="diffImg in diff.images">
					    <div class="thumbnail" ng-click="openDiffModal(diffImg._id, 'lg')">
					    	<div style="height: 200px; overflow: hidden;">
					      		<img src="{{ diffImg.url }}" alt="..." style="width: 100%;">
					  		</div>
					    </div>
				  	</div>
			  	</div>
			</div>
		</tab>
	</tabset>







