<!-- <img src="{{ screenshot }}" ng-repeat="screenshot in screenshots"/> -->
<div class="container">
<h2>Dashboard</h2>

	<div class="row">

	<div class="col-md-12">

		<h4>Test Name</h4>
		<form name="searchDiffsForm" ng-submit="searchDiffs()">
			<div class="checkbox" ng-repeat="test in diffImgsByUser | unique: 'name'">
				<label>
					<input type="checkbox" value="" >
					{{ test.name }}
				</label>
			</div>
			<button type="submit" class="btn btn-primary btn-large">Search</button>
		</form>
		<br />

	</div>

	</div>

	<div class="row">

	<div class="col-md-12">
		<div class="col-sm-4 col-md-2" ng-repeat="diffImg in diffsForUser">
		    <div class="thumbnail">
		    	<div style="height: 200px; overflow: hidden;">
		      		<img src="{{ diffImg.url }}" alt="..." style="width: 100%;">
		  		</div>
		      <div class="caption">
		        <h4>Date: ...</h4>
		        <h4>Time: ...</h4>
		        <p>...</p>
		        <p><a href="#" class="btn btn-default" role="button" ng-click="openDiffModal()">View Detail</a></p>
		      </div>
		    </div>
	  	</div>

	</div>
	</div>

</div>