<!-- <img src="{{ screenshot }}" ng-repeat="screenshot in screenshots"/> -->
<div class="container">

	<!-- {{ searchParams | json }} -->
	<!-- {{ diffsForUser | json }} -->
	<!-- {{ diffImages | json }} -->

<h2>Dashboard</h2>

	<div class="row">
		<div class="jumbotron alert-success" role="alert" >
        	<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="showSuccessAlert = false"><span aria-hidden="true">&times;</span></button>
        	<strong>No diffs found. Have a nice day!</strong>
    	</div>

	<div class="col-md-12">

		<form name="searchDiffsForm" ng-submit="searchDiffsByName()" class="form-inline">
			<div class="form-group">
				<h4>Tests</h4>
			</div>
			<!-- <div class="checkbox" > -->
				<label class="checkbox-inline" ng-repeat="test in testsByUser | unique: 'name'">
					<!-- <input type="checkbox" ng-true-value="'{{test.name}}'" name="testconfig" ng-false-value="''" ng-model="searchParams.testName['name' + $index]">
					{{ test.name }} -->
					<input type="checkbox" name="testconfig" ng-click="toggleCheckbox(test.name, searchParams.testNames)">
					{{ test.name }}

				</label>
			<!-- </div> -->
			<button type="submit" class="btn btn-primary btn-large">Search</button>
		</form>
		<br />
<!-- 		<div class="form-group" ng-repeat="testOption in testsOptions">
			<h4>{{ testOption.name }}</h4>
			<label class="checkbox-inline" >
				{{ testOption.URL }}
			</label>
			<br />
			<label class="checkbox-inline">
				<input type="checkbox" ng-click="toggleOptionsCheckbox(testOptions.URL, testOptions.viewport, searchParams.options[testOptions.])">
				{{ testOption.viewport }}
			</label>

		</div> -->

	</div>


	</div>

	<!-- <div class="row" ng-repeat=" test in searchParams.testNames "> -->

	<div class="row" ng-repeat="diff in diffImages.byUrl">

		<h3>{{ diff.urlName }}</h3>

	<div class="col-md-12">

		<div class="col-sm-4 col-md-2" ng-repeat="diffImg in diff.images">
		    <div class="thumbnail" ng-click="openDiffModal(diffImg._id, 'lg')">
		    	<div style="height: 200px; overflow: hidden;">
		      		<img src="{{ diffImg.url }}" alt="..." style="width: 100%;">
		  		</div>
		    </div>
	  	</div>

	</div>
	</div>

	<!-- old -->
	<div class="row" >

		<h3>{{ test }}</h3>

	<div class="col-md-12">

		<div class="col-sm-4 col-md-2" ng-repeat="diffImg in diffsForUser">
		    <div class="thumbnail" ng-click="openDiffModal(diffImg._id, 'lg')">
		    	<div style="height: 200px; overflow: hidden;">
		      		<img src="{{ diffImg.url }}" alt="..." style="width: 100%;">
		  		</div>
		    </div>
	  	</div>

	</div>
	</div>

</div>