navbar {

  display: block;
  .admin,
  .dashboard,
  .alerts,
  .config,
  .diffs,
  .test-case {
    background: #000;
    .navbar-nav {
      display: none;
    }
  }

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: #676767;
    &:hover {
      color: #ddd;
    }
  }

  .navbar {
    margin-bottom:0;
    padding: 5px 30px;
    &.admin,
    &.dashboard {
      padding-right: 10px;
    }

  }
  .nav > li > a {
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
      background: none !important;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }
  .login-button {
    float: right;
    margin-top: 8px;
  }
  .welcome {
    float: right;
    margin-top: 12px;
    position: relative;
    z-index: 9999;
    span {
      color: #66cc00;
    }
    a {
      color: #333;
      cursor: pointer;
    }
  }
  .dashboard {
    .welcome {
      margin-top: 0;
      span {
        color: #bee181;
      }
      a {
        color: #eee;
      }
    }
  }
}

.navbar-static-top {
  z-index: inherit !important;
}