a {
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
/* =============== Group ========================= */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.col-center {
	margin: 0 auto;
	float: none;
}
.col-no-padding {
	padding-right: 0; 
	padding-left: 0;
}
.btn-add {
	margin: 10px 0;
	
} 
.btn-center {
	left: 50%;
	position: relative;
	transform: translateX(-50%);
}
.btn-primary {
	background-color: #66cc00;
	border-color: none;
	&:hover,
	&:focus {
		background: #61af13 !important;
		border-color: #8f963d !important;
	}
}
.btn-success {
	&:hover,
	&:focus {
		background: #00bc47 !important;
		border-color: #27aa43 !important;
	}
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-radius: 0;
  &.btn-sm {
		padding: 8px 15px;
		font-size: 14px;
		margin-bottom: 10px;
	}
}
.thumbnail {
	padding: 0;
	margin-bottom: 0;
	border:none;
	border-radius: 0;
}
.modal-content {
	border-radius: 0;
	h4 {
		font-weight: 300;
	}
}
.row-horizon {
	margin-right: 0;
	margin-left: 0;
}
.row-horizon::-webkit-scrollbar {
  height: 10px;
  overflow: visible;
}
.row-horizon::-webkit-scrollbar-thumb {
  background-color: #38A139;
  min-width: 30px;
}
.row-horizon::-webkit-scrollbar-thumb:hover {
  background-color: #5b5b5b;
}
/* Title */
.thumbnail-holder {
	position: relative;
	.thumbnail {
		height:300px;
	}
	.thumbnail-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 10px;
		width: 100%;
		background: #333;
		color: #eee;
		text-align: right;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 300;
		font-size: 1em;
		-webkit-transition: -webkit-transform 0.2s, color 0.2s;
		transition: transform 0.2s, color 0.2s;
		p {
			margin-bottom: 3px;
		}
	}
	> .thumbnail::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100.5%;
		height: 100.5%;
		border: 0px solid transparent;
		background: rgba(0,0,0,0);
		content: '';
		-webkit-transition: border-width 0.2s, border-color 0.2s;
		transition: border-width 0.2s, border-color 0.2s;
	}
	&:hover .thumbnail-caption {
		color: #fff;
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
	}
	&:hover > .thumbnail::before {
		border-width: 10px;
		border-color: #333;
	}
}

.caption {
	&.thumbnail-caption {
		padding: 10px;
		background: #f7f7f7;
		p {
			margin-bottom: 3px;
		}
	}

	h5 {
		-ms-word-break: break-all;

		/* Be VERY careful with this, breaks normal words wh_erever */
		word-break: break-all;

		/* Non standard for webkit */
		word-break: break-word;

		-webkit-hyphens: auto;
		   -moz-hyphens: auto;
		        hyphens: auto;
	}
}
.form-heading {
	font-weight: 300;
	margin-bottom: 50px;
}
.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 300;
}

.tab-content {
	h2, h3, h4 {
		font-weight: 300;
	}
	h3 {
		margin-left: 30px;
		color: #333;
		padding: 10px 0;
	}
}

.nav-tabs {
	border-bottom: none;
	> li {
		float: right;
		> a {
			margin-right: 2px;
			line-height: 1.42857143;
			border: none;
			border-radius: 0;
			color:#333;
			font-size: 18px;
			font-weight: 300;
			padding: 15px 20px;
			&:hover,
			&:focus {
				border-bottom: 3px solid #6c0;
				background: #fff;
			}
		}
		&.active {
			> a,
			> a:hover,
			> a:focus {
				cursor: pointer;
				border: none;
				border-bottom: 3px solid #6c0;
			}
		}
	}
}


.cbp_tmtimeline {
	margin: 30px;
	padding: 0;
	list-style: none;
	position: relative;

	.badge {
		margin-left: 10px;
		min-width: 35px;
		padding: 10px;
		font-size: 14px;
		font-weight: 300;
		border-radius: 50%;
		vertical-align: middle;
		&.badge-warning {
			background-color: #F3A836;
		}
		&.badge-info {
			background-color:#A4A1A1;
		}
	}
	.cbp_tmstats {
		margin-right:20px;
	}
	.cbp_tmlabel {
		.fa {
			color: #F3A836;
  			font-size: 14px;
		}
	}
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #f7f7f7;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	font-weight: 300;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #66cc00;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #66cc00;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #f4f5f2;
	color: #333;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 0;
	.alert-info-box {
		padding: 15px 0;
		border-bottom: 1px solid #ccc;
		.alert-label {
			font-weight: 400;
		}
		.alert-info-display {
			display: inline-block;
			float: left;
			width: 40%;
			@media (max-width: 540px) {
				width: 100%;
			}
		}
		.alert-img-container {
			display: inline-block;
			float: left;
			width: 18%;
			padding: 0 5px;
			height: 200px; 
			overflow: hidden;
			@media (max-width: 768px) {
				width: 90px;
				height: 130px;
			}
			img {
				width: 150px;
				@media (max-width: 768px) {
					width: 100px;
				}
			}
		}
	}
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #f4f5f2;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	font-weight: 300;
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #f4f5f2;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #f4f5f2;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #b5da9f;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #f7f7f7;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #f4f5f2;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #f4f5f2;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}

