@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);

* {
  box-sizing: border-box;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'custom/main';
@import 'admin/main';

body {
  background-color: #fafafa;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#ffffff));
  background: -webkit-linear-gradient(top, #fafafa, #ffffff);
  background: -moz-linear-gradient(top, #fafafa, #ffffff);
  background: -ms-linear-gradient(top, #fafafa, #ffffff);
  background: -o-linear-gradient(top, #fafafa, #ffffff);
}